body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
}

#SearchBodyContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80vw;
  height: fit-content;
  margin-top: 5vh;

  background-color: rgb(20, 20, 20);
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  border-radius: 20px;
}

#SearchBarInput{
  width: 75%;
  height: 2rem;
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  color: white;
  border: 2px solid rgb(0, 0, 0);
}

#SearchBarButton{
  height: 2rem;
  color: white;
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  margin-left: 1rem;
}

#SearchHeadContainer{
  width: 90%;
  display: flex;
  justify-content: center;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

#SearchBarIndicatorDropdownButton{
  display: flex;
  height: 2rem;
  width: 25%;
  margin-top: 2.5vh;

  align-items: center;
  justify-content: center;

  color: white;
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
}

#SearchIndicatorSelecitonDiv{
  overflow: hidden;
  margin-top: 2.5vh;
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
  width: 90%;
  height: fit-content;
  max-height: 25vh;
  padding-top: 2.5vh;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-bottom: 2.5vh;
  transition: all 1s;
  color: white;
}

#SearchIndicatorSelectionWrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.css-1umw9bq-MuiSvgIcon-root {
  color: white;
}

p{
  color: white;
}

canvas{
  padding: 0px;
  inset: 0px;
  border: 2px solid rgb(0, 0, 0);
}